.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  margin: 0;
  padding: 10px;
  height: 100vh;
  width: 25vw;
  background-color: rgba(1, 255, 217, 1);
  overflow: hidden;
  z-index: 3;
}

h1.name, h3.title {
  font-family: 'Beth Ellen', cursive;
  color: #ff006f;
  text-align: center;
}

a.nav-link, .nav-link.active {
  font-family: 'Abril Fatface', cursive;
  color: #ff006f;
}