div#homepage {
    text-align: center;
    padding: 10px;
    background: #700548;
    animation: pulse 20s infinite;
}

@keyframes pulse {
    0% {
        background-color: #080705;
        background-position: 0% 82%
    }

    50% {
        background-color: #700548;
        background-position: 100% 19%
    }

    100% {
        background-color: #080705;
        background-position: 0% 82%
    }
}

div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div#main {
    padding: 15px;
}

h1.title-sentence {
    font-family: 'Homemade Apple', cursive;
    font-size: 60px;
    color: #ff016e;
}

div.wrapper {
    padding: 10px;
}

.pic-graphic {
    background: #000;
    background: -moz-linear-gradient(-45deg, #ff016e 0%, #080705 25%, #01ffd9 50%, #fef8fc 75%, #700548 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff016e 0%, #080705 25%, #01ffd9 50%, #fef8fc 75%, #700548 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-45deg, #ff016e 0%, #080705 25%, #01ffd9 50%, #fef8fc 75%, #700548 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    background-repeat: no-repeat;
    display: flex;
    width: 30vw;
    height: 46vh;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: .5s all;
    border-radius: 100%;

    &__img {
        // position: absolute;
        left: 0;
        top: 0;
        background: #000 url("https://raw.githubusercontent.com/kwing25/New-Portfolio/main/src/assets/portraitblackwhite.jpg?token=ASYPV6HZ73R6QAUO3EVODNLBEQJYM") no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .9;
        mix-blend-mode: screen;
        border-radius: 100%;
    }

    &:hover {
        background-position: 100% 100%;

        &__title {
            text-shadow: 0 0 20px rgba(0, 0, 0, 1);
        }
    }
}