* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: #fff9fc;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #080705;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    background-color: none;
}

.container {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // width: 100%;
}

/* Fixed nav and page content alignment with width & float */
.home,
.about,
.portfolio,
.contact {
    height: 100vh;
    width: 75vw;
    float: right;
}